<div class="cover-page">
  <div class="header">
    <div class="p-grid p-align-center">
      <div class="p-col-12 p-md-6 logo-container">
        <img src="assets/images/litra.PNG" alt="Company Logo" class="logo" />
        <div class="company-name">
          <div class="flex flex-column">
            <div class="font-bold">LITERA</div>
            <div class="text-sm font-semibold text-teal-400">PUBLICATIONS</div>
          </div>
        </div>
      </div>
      <!-- <div class="p-col-12 p-md-6 p-text-right">
            </div> -->
    </div>
  </div>

  <div class="card light-orange-card m-4 cursor-pointer">
    <div class="card-body p-4">
      <div
        class="line-height-3 text-white font-bold text-3xl md:text-4xl lg:text-5xl mb-3"
      >
        Litera Publications: Illuminating Minds Through the Written Word
      </div>
      <div
        class="text-lg md:text-xl line-height-relaxed text-white font-semibold"
      >
        <p class="mb-2">
          Litera Publications is a platform dedicated to the profound world of
          books. We aim to empower students to excel in the most challenging
          examinations, guiding them towards a charming, prosperous, and
          glorious future. Consider us your doorway to a future sculpted by
          knowledge and purpose.
        </p>
        <p class="mb-2">
          Litera becomes your quiet companion in your studies, offering clarity,
          focus, and inspiration. We stand as a redefined brand for authors,
          scholars, and thinkers who aspire to leave a lasting imprint on the
          world.
        </p>
        <p class="mb-2">
          Litera Publications is deeply committed to shaping futures, investing
          in talent, and honoring the timeless beauty of languages. More than
          just a business, Litera is a movement towards deeper thought,
          meaningful education, and the enduring power of the written word.
        </p>
        <p class="mb-2 italic">
          Before books held knowledge and ink captured souls, there was only the
          shimmer of untold wonder. From that wonder, Litera Publications was
          born.
        </p>
        <p class="mb-2">
          At Litera, ideas are not merely printed; they are anointed. Each book
          is a whispered prophecy from mind to mind, soul to soul. When a reader
          opens a Litera book, they are not just reading; they are ascending.
        </p>
        <p class="mb-2">
          We don't shout for attention; we speak with grace, knowing that the
          right words echo forever. Litera Publications exists not to fill
          shelves but to ignite spirits, to breathe eternity into ink, and to
          remind the world that the written word is the most noble magic of all.
        </p>
        <p class="mb-2">
          Finally, a Litera page holds not just words but the world waiting to
          be discovered, the inherent beauty of language within every title we
          release. We honor the written word and those who dare to write it.
        </p>
        <p class="mb-2">
          Litera Publications is born from a deep love for literature and a
          clear vision: to shape minds through meaning.
        </p>
        <p class="mb-2 font-semibold">
          At Litera, we don’t just publish; we illuminate, elevate, and
          celebrate the art of expression. Litera Publications is more than a
          name; it is a promise to uphold the elegance, depth, and dignity of
          the written word.
        </p>
        <p class="font-italic">
          The true output of Litera Publications is not measured in titles but
          in minds touched, voices heard, and futures brightened through the
          quiet strength of the written word.
        </p>
      </div>
    </div>
  </div>

  <div class="grid m-3 p-fluid cursor-pointer">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0662.PNG"
            alt="Card 1 Image"
            class="card-image"
          />

          <div class="text-white font-bold">
            <i class="pi pi-indian-rupee"></i>
            899
          </div>
          <!-- <p>Some content for the first card.</p> -->
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0663.PNG"
            alt="Card 1 Image"
            class="card-image"
          />
          <div class="text-white font-bold"><i class="pi pi-indian-rupee"></i> 979</div>
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0664.PNG"
            alt="Card 1 Image"
            class="card-image"
          />
          <div class="text-white font-bold"><i class="pi pi-indian-rupee"></i> 979</div>
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0665.PNG"
            alt="Card 1 Image"
            class="card-image"
          />
          <div class="text-white font-bold" ><i class="pi pi-indian-rupee"></i> 979</div>
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0666.PNG"
            alt="Card 1 Image"
            class="card-image"
          />
          <div class="text-white font-bold"><i class="pi pi-indian-rupee"></i> 979</div>
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0660.PNG"
            alt="Card 1 Image"
            class="card-image"
          />
          <div class="text-white font-bold"><i class="pi pi-indian-rupee"></i> 979</div>
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card light-blue-card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <img
            src="assets/images/IMG_0661.PNG"
            alt="Card 1 Image"
            class="card-image"
          />
          <div class="text-white font-bold"><i class="pi pi-indian-rupee"></i> 979</div>
        </div>
        <!-- <div class="card-footer">
          <button class="p-button p-component">Action</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="card light-orange-card m-2 cursor-pointer">
    <div class="card-header p-2 text-white text-center font-bold">ABOUT US</div>
    <div class="card-body p-3">
      <div class="grid text-white font-semibold">
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <div class="card light-blue-card">
            <div class="card-body">
              <img
                src="assets/images/person1.JPEG"
                alt="Card 3 Image"
                class="card-image"
                height="400px"
                style="width: 300px; max-height: 320px"
              />
              <div class="text-white">T. Vishnu Reddy</div>
              <div class="text-white">CEO & IT Department</div>
            </div>
          </div>
        </div>

        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <div class="card light-blue-card">
            <div class="card-body">
              <img
                src="assets/images/person2.JPEG"
                alt="Card 2 Image"
                height="400px"
                style="width: 300px;max-height: 320px"
                class="card-image"
              />
              <div class="text-white">Tarun Tej Reddy</div>
              <div class="text-white">CEO & Legal Advisor</div>
            </div>
          </div>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <div class="card light-blue-card">
            <div class="card-body">
              <img
                src="assets/images/person3.JPEG"
                alt="Card 1 Image"
                height="400px"
                style="width: 300px;max-height: 320px"
                class="card-image"
              />
              <div class="text-white">Ashok Chowdhary</div>
              <div class="text-white">Managing Director, Executive Head</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card light-orange-card m-2 cursor-pointer">
    <div class="card-header p-4 text-white text-center font-bold">
      CONTACT US
    </div>
    <div class="card-body p-4">
      <div class="grid text-white font-semibold">
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <i class="pi pi-map-marker text-lg"></i>
          <span class="ml-1 text-gray-600">
            Nellore, Andhra Pradesh, India
          </span>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <i class="pi pi-envelope text-lg"></i>
          <a
            href="#"
            onclick="return false;"
            class="ml-1 text-indigo-600 hover:underline transition-duration-300"
          >
            litera&#64;literapublications.com
          </a>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <i class="pi pi-phone text-lg"></i>
          <a
            href="#"
            onclick="return false;"
            class="ml-1 text-blue-600 hover:underline transition-duration-300"
          >
            6300727722
          </a>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <i class="pi pi-whatsapp text-lg"></i>
          <a
            href="#"
            onclick="return false;"
            class="ml-1 text-blue-600 hover:underline transition-duration-300"
          >
            6300727722
          </a>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <i class="pi pi-instagram mr-3 text-lg"></i>
          <a
            href="#"
            onclick="return false;"
            class="ml-1 text-blue-600 hover:underline transition-duration-300"
          >
            #literapublications
          </a>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
          <i class="pi pi-twitter mr-3 text-lg"></i>
          <a
            href="#"
            onclick="return false;"
            class="ml-1 text-blue-600 hover:underline transition-duration-300"
          >
            #literapublications
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .light-blue-card {
    background-color: #008080; /* Light blue color */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .light-orange-card {
    background-color: #008080; /* Light blue color */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #dee2e6;
  }
  .card-body {
    padding: 0.75rem 1.25rem;
    text-align: center; /* Center the image */
    display: flex; /* Use flexbox to control image and text layout */
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center items horizontally */
  }
  .card-footer {
    padding: 0.75rem 1.25rem;
    border-top: 1px solid #dee2e6;
    text-align: right;
  }
  .card-image {
    max-width: 100%; /* Make image responsive within its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 0.5rem; /* Add some space between image and text */
  }

  .card {
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .bubble {
    animation: bubble-float 6s infinite ease-in-out;
  }

  @keyframes bubble-float {
    0% {
      transform: translateY(0);
      opacity: 0.8;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.4;
    }
    100% {
      transform: translateY(0);
      opacity: 0.8;
    }
  }
</style>
