<div class="cover-page">
    <div class="header">
        <div class="p-grid p-align-center">
            <div class="p-col-12 p-md-6 logo-container">
                <img src="assets/images/litera_logo.jpg" alt="Company Logo" class="logo">
                <div class="company-name">
                    <div class="flex flex-column">
                        <div class="font-bold">LITERA</div>
                        <div class="text-sm font-semibold">PUBLICATIONS</div>
                    </div>
                </div>
            </div>
            <!-- <div class="p-col-12 p-md-6 p-text-right">
            </div> -->
        </div>
    </div>
    <!-- <div class="class"
        style="background-image: url('assets/images/litera_logo.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"> -->
    <div class="content">
        <div class="content-inner">
            <h1>Welcome to LITERA PUBLICATIONS
                <p>We offer Book Commute services to meet your Study needs. Explore what we have to offer and get
                    started
                    today!
                </p>
            </h1>
        </div>
    </div>
    <div class="content">
        <div class="outer-div">
            <div class="font-bold">Books</div>
            <div class="inner-div">
                We Offer all types of books for commute over digital space on quick needs within call and publish to
                door step.
            </div>
        </div>
    </div>
    <div class="content">
        <div class="mb-4 p-8">
            <p-card header="About Us">
                <p class="font-bold">
                    LITERA PUBLICATIONS is a platform dedicated to the world of books. We publish and share a variety of
                    literary content, aiming to connect authors and readers through engaging and meaningful works.
                </p>
            </p-card>
        </div>
    </div>
    <div class="content">
        <div class="outer-div">
            <div class="mt-4 p-4">
                <div class="font-bold">Vishnu Reddy T.</div>
                <div class="inner-div">
                    <i class="pi pi-phone mr-2"></i> 90141 99620
                </div>
            </div>
        </div>
    </div>
</div>